page-board {
    .bottom-area {margin-top:8px;}

    .small-icon {
        display: inline-block;
        font-size: 18px;
        vertical-align: middle;
    }

    .small-text{
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
    }

    .fab {
        width: 40px !important;
        height: 40px !important;
    }
}
